@import '../../styles/mixins';
@import '../../styles/variables';

.results-container {
  width: 100%;
  height: auto;
  @include flex(column, flex-start, center);
}

.score {
  font-family: $archivo;
  font-weight: 700;
  font-size: 30px;
  margin: 30px;
}

.answer-cards-container {
  @include flex(row, center, flex-start);
  width: 90%;
}

.guesses-container,
.correct-container {
  @include flex(column, flex-start, center);
  width: 40%;
}

.years-container {
  @include flex(column, flex-start, center);
  width: 15%;
}

.single-year-container {
  height: 20vh;
  width: 100%;
  @include flex(row, center, center);

  p {
    font-family: $roboto;
    font-size: 30px;
    font-weight: 700;
  }
}

.single-card-container {
  @include flex(row, center, center);
  height: 20vh;
  width: 100%;
}

.column-title {
  font-family: $archivo;
  font-weight: 800;
  font-size: 20px;
  color: $black;
  margin: 15px 0 15px 0;
}

.home-button {
  margin: 30px;
  height: 50px;
  width: 200px;
  background-color: $black;
  border: none;
  font-family: $archivo;
  font-size: 30px;
  font-weight: 700;
  color: $blue;

  &:hover {
    cursor: pointer;
    background-color: $dark-blue-hover;
  }
}

.home-link {
  @include flex(row, center, center);
  width: 100%;
}

.results-song-card {
  @include flex(row, flex-start, flex-start);
  background-color: $white-hover;
  border: 2px solid $black;
  margin: 10px;
  height: 90%;
  width: 90%;

  .result-card-text {
    height: 100%;
    @include flex(column, center, flex-start);
  }

  img {
    height: calc(100% - 20px);
    width: auto;
    margin: 10px;
  }

  .title {
    font-family: $roboto;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
  }

  .artist {
    font-family: $archivo;
    color: $dark-blue;
    font-size: 16px;
    margin: 10px;
  }
}

.answer {
  background-color: $off-white;
}

.correct {
  background-color: $dark-blue;
  
  .title {
    color: $off-white;
  }

  .artist {
    color: $blue;
  }
}

@media screen and (max-width: 1000px) {
  .single-year-container,
  .single-card-container {
    height: 50vh;
  }

  .results-song-card {
    @include flex(column, center, center);
    width: 80%;

    img {
      width: calc(100% - 20px);
      height: auto;
      margin: 10px;
    }

    .title {
      font-size: 14px;
      margin: 10px 10px 5px 10px;
    }

    .artist { 
      font-size: 12px;
      margin: 5px 10px 10px 10px;
    }

    .result-card-text {
      @include flex(column, flex-start, flex-start);
      width: 100%;
    }
  }
}

@media screen and (max-width: 680px) {
  .answer-cards-container {
    width: 100%;
  }

  .single-year-container {
    height: 40vh;
    
    p {
      font-size: 20px;
    }
  }

  .single-card-container {
    height: 40vh;
  }

  .guesses-container,
  .correct-container {
    width: 45%;
  }

  .years-container {
    width: 15%;
  }

  .column-title {
    font-size: 18px;
  }
}