@import '../../styles/mixins';
@import '../../styles/variables';

.error-container {
  height: calc(70% - 50px);
  padding: 50px;
  @include flex(column, flex-start, center);
}

.error-message,
.error-link {
  font-family: $roboto;
  font-size: 20px;
  font-weight: 300;
  margin: 10px;
}