@import '../../styles/mixins';
@import '../../styles/variables';

.error-container {
  height: calc(70% - 50px);
  padding: 50px;

  p {
    font-family: $roboto;
    font-size: 20px;
    font-weight: 300;
  }
}