@import '../../styles/mixins';
@import '../../styles/variables';

.question-container {
  height: 70%;
  width: 100%;
  @include flex(column, start, center);
}

.results-container {
  width: 100%;
  height: auto;
  // overflow: auto;
  @include flex(column, start, center);

  .score {
    font-family: $archivo;
    font-weight: 700;
    font-size: 30px;
    margin: 30px;
  }

  .answer-cards-container {
    @include flex(row, center, start);
  }

  .guesses-container,
  .correct-container {
    @include flex(column, start, center);
    width: 40%;
  }

  .single-card-container {
    height: 20vh;
    width: 100%;
  }

  .years-container {
    @include flex(column, start, center);
    width: 15%;
  }

  .single-year-container {
    height: 20vh;
    @include flex(row, center, center);

    p {
      font-family: $roboto;
      font-size: 30px;
      font-weight: 700;
    }
  }

  .column-title {
    font-family: $archivo;
    font-weight: 800;
    font-size: 20px;
    color: black;
    margin: 15px 0 15px 0;
  }

  .home-link {
    @include flex(row, center, center);
    width: 100%;
  }

  .home-button {
    margin: 30px;
    height: 50px;
    width: 200px;
    background-color: black;
    border: none;
    font-family: $archivo;
    font-size: 30px;
    font-weight: 700;
    color: $blue;

    &:hover {
      cursor: pointer;
      background-color: $dark-blue-hover;
    }
  }
}

.results-song-card {
  @include flex(row, start, start);
  background-color: $off-white;
  border: 2px solid black;
  margin: 10px;
  height: 90%;
  width: 90%;

  .result-card-text {
    height: 100%;
    @include flex(column, center, start);
  }

  img {
    height: calc(100% - 20px);
    width: auto;
    margin: 10px;
  }

  .title {
    font-family: $roboto;
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    // min-height: 40px;
  }

  .artist {
    font-family: $archivo;
    color: $dark-blue;
    font-size: 16px;
    margin: 10px;
    // min-height: 40px;
  }

  // &:hover {
  //   cursor: pointer;
  //   background-color: $white-hover;
  // }
}

@media screen and (max-width: 1000px) {
  // .question-container,
  // .results-container {
  //   height: 80%;
  //   width: 100%;
  // }
}

@media screen and (max-width: 680px) {
  // .question-container {
  //   height: auto;
  //   width: 100%;
  // }

  // .song-card {
  //   background-color: $off-white;
  //   border: 2px solid black;
  //   margin: 10px;
  //   width: 60%;
  //   height: 400px;

  //   p {
  //     font-size: 14px !important;
  //   }

  // }

  .column-title {
    font-size: 14px !important;
  }

  .guess-column,
  .answer-column {
    width: 40% !important;
  }

  .year-container {
    height: 424px !important;  

    p {
      font-size: 18px !important;
    }
  } 
}