@import '../../styles/mixins';
@import '../../styles/variables';

.home-container {
  height: 70%;
  width: 100%;
  @include flex(column, center, center);

  .instructions {
    font-family: $roboto;
    font-weight: 300;
    color: black;
    font-size: 25px;
    margin: 50px;
  }
}

.quiz-button-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  align-items: center;

  a {
    height: 90%;
    width: 90%;
  }
}

.quiz-button {
  height: 100%;
  width: 100%;
  font-family: $roboto;
  font-weight: 700;
  font-size: 50px;
  color: $dark-blue;
  border: 2px solid black;
  background-color: $off-white;

  &:hover {
    cursor: pointer;
    background: $white-hover;
  }
}

@media screen and (max-width: 680px) {
  .instructions {
    font-size: 14px;
  }

  .quiz-button-container {
    @include flex(column, center, center);
  }

  .quiz-button,
  a {
    font-size: 30px;
    height: 90%;
    width: 100%;
    margin: 0;
  }
}