@import '../../styles/mixins';
@import '../../styles/variables';

header {
  background-color: none;
  border-bottom: 5px solid $black;
  @include flex(column, flex-start, center);
}

.tagline-container {
  height: 35%;
  width: 100%;
  background-color: $black;
  @include flex(column, center, center);
}

.tagline {
  color: $blue;
  font-family: $roboto;
  font-size: 20px;
  font-weight: 200;
}

.home-link {
  text-decoration: none;
  font-family: $archivo;
  font-weight: 800;
  font-size: 80px;
  color: $black;
}

.title-container {
  height: 65%;
  width: 100%;
  @include flex(row, center, center);
}

@media screen and (max-width: 1000px) {
  .home-link {
    font-size: 60px;
  }

  .tagline {
    font-size: 16px;
  }
}

@media screen and (max-width: 680px) {
  .home-link {
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
  }

  .tagline {
    font-size: 14px;
  }
}