@import '../../styles/mixins';
@import '../../styles/variables';

// .question-container {
//   @include flex(column, center, center);
// }



.question-text-container {
  @include flex(row, center, center);
  height: 20%;
}

.question-text {
  font-family: $roboto;
  font-weight: 300;
  color: black;
  font-size: 25px;
  margin: 25px;
  vertical-align: middle;
}

.question-cards-container {
  @include flex(row, center, start);
  width: 90%;
  height: 80%;
}

.question-song-card {
  background-color: $off-white;
  border: 2px solid black;
  margin: 10px;
  width: 20%;
  height: 85%;

  img {
    width: calc(100% - 20px);
    height: auto;
    margin: 10px;
  }

  .title {
    font-family: $roboto;
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin: 15px 10px 15px 10px;
  }

  .artist {
    font-family: $archivo;
    color: $dark-blue;
    font-size: 16px;
    margin: 10px;
  }

  &:hover {
    cursor: pointer;
    background-color: $white-hover;
  }
}

@media screen and (max-width: 680px) {
  .answers-container {
    @include flex(column, center, center);
  }

  .question-text {
    font-size: 18px;
  }
}