@import './styles/mixins';

.app {
  height: 100vh;
  width: 100vw;
  @include flex(column, flex-start, center);
}

header {
  height: 20%;
  width: 100%;
}

main {
//  height: 70%;
 width: 100%;
 @include flex(row, center, center)
}

footer {
  height: 10%;
  width: 100%;
}

