@import './styles/mixins';
@import './styles/variables';

.app {
  height: 100vh;
  width: 100vw;
  min-width: 380px;
  @include flex(column, start, center);
}

header {
  min-height: 20vh;
  width: 100%;
}

main {
 width: 100%;
 @include flex(row, center, center)
}

footer {
  min-height: 10vh;
  width: 100%;
}

.loading-container {
  height: calc(70% - 50px);
}

.loading-message {
  font-family: $roboto;
  font-size: 25px;
  margin-top: 50px;
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  // header {
  //   height: 10%;
  // }
}

